.Head{
    background-color: black;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    flex-direction: row ;
}

.Info p{
    color: white;
}
.Info {
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
}

.Liste {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.WatchListe{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.ShoppingCard{
    color: white;
    text-decoration: none;
}
 